#coin-slider{
	overflow:hidden;
	background:url(../images/loader.gif) 50% 50% no-repeat;
	width:940px;
	height:393px;
	margin:0 auto;
}
	#add-page #coin-slider, #add-page .coin-slider {width:940px !important;}
.coin-slider{
	position:relative;
	margin:10px auto 2px auto;
	width:940px;
	height:393px;
	border: 3px solid #111111;
	border-bottom: 13px solid #111111;
}
.coin-slider a{text-decoration:none;outline:none;border:none}
.cs-buttons{
	font-size:0px;
	position:absolute;
	line-height:0;
	bottom:15px;
	right:15px;
}
.cs-buttons a{
	margin-left:10px;
	height:19px;
	width:19px;
	background:url(../images/coin_button.png) right 0 no-repeat; 
	display:inline-block;
	
}
.cs-buttons a:hover,.cs-buttons a.cs-active{background:url(../images/coin_hover_button.png) right 0 no-repeat; height:19px;
	width:19px;}



.cs-title {
	background:url(../images/banner-bg.png) no-repeat 0 0;
	display:block;
	width:940px;
	overflow:hidden;
	padding:0 0 0 305px;
	position:absolute;
	left:-1030px;
	bottom:39px !important;
}
	.cs-title strong {
		display:block;
		line-height:52px;
		color:#36bcda;
		font:32px Arial, Helvetica, sans-serif;
		font-weight:normal;
		letter-spacing:-1px;
	}
	.cs-title b {
		display:block;
		float:left;
		font-size:16px;
		line-height:16px;
		font:12px Arial, Helvetica, sans-serif;
		color:#ffffff;
		font-weight:normal;
		text-transform:uppercase;
		padding:0 0px 8px 0px;
		color:#fff;
		margin:0px	0 0 0;
		
	}